fluxo_n8n_final_edocs_xpath.json
{
  "name": "Atualizar Cust\u00f3dia EDOCS (API XPath Final)",
  "nodes": [
    {
      "parameters": {
        "resource": "card",
        "operation": "getAll",
        "limit": 1000,
        "filters": {
          "idList": "68844cf642791c4187aa7c8f"
        }
      },
      "id": "BuscarCartoes",
      "name": "Buscar Cart\u00f5es",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "trelloApi": {
          "id": "trello-api-creds-id",
          "name": "Trello API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nreturn items.map(item => {\n  const campo = item.json.customFieldItems.find(f => f.idCustomField === '68844e843ac2f72c5693ecde');\n  const processo = campo?.value?.text || '';\n  return {\n    json: {\n      id: item.json.id,\n      processo,\n    }\n  };\n});\n"
      },
      "name": "Extrair N\u00famero do Processo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api-edocs-scraper.onrender.com/edocs",
        "method": "GET",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{ $json.processo }}"
            }
          ]
        }
      },
      "name": "Consultar API EDOCS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "resource": "cardCustomField",
        "operation": "update",
        "boardId": "QiGIP5rl",
        "cardId": "={{ $json.id }}",
        "customFieldId": "68844e843ac2f72c5693ecde",
        "value": {
          "text": "={{ $json.custodia }}"
        }
      },
      "name": "Atualizar Andamento",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "trelloApi": {
          "id": "trello-api-creds-id",
          "name": "Trello API"
        }
      }
    }
  ],
  "connections": {
    "Buscar Cart\u00f5es": {
      "main": [
        [
          {
            "node": "Extrair N\u00famero do Processo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair N\u00famero do Processo": {
      "main": [
        [
          {
            "node": "Consultar API EDOCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar API EDOCS": {
      "main": [
        [
          {
            "node": "Atualizar Andamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}